In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('datasets/titanic_lec_14.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)
df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  34.5      0      0   7.8292   NaN        Q
1         1       3  female  47.0      1      0   7.0000   NaN        S
2         0       2    male  62.0      0      0   9.6875   NaN        Q
3         0       3    male  27.0      0      0   8.6625   NaN        S
4         1       3  female  22.0      1      1  12.2875   NaN        S

In [ ]:
print("Toplam satır sayısı:", df.shape[0], "Toplam Sütun sayısı:", df.shape[1], end="\n\n")

Toplam satır sayısı: 418 Toplam Sütun sayısı: 9

In [6]:
missing_info = df.isna().sum()
print("Eksik verilerin sütunlara göre dağılımı:")
print(missing_info, end="\n\n")

Eksik verilerin sütunlara göre dağılımı:
Survived      0
Pclass        0
Sex           0
Age          86
SibSp         0
Parch         0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [7]:
missing_columns = [name for name in df.columns if df[name].isna().any()]
print("Eksik veri içeren sütunlar:")
print(missing_columns, end="\n\n")

Eksik veri içeren sütunlar:
['Age', 'Fare', 'Cabin']

In [18]:
missing_ratio_per_column = {col: df[col].isna().sum().sum() / len(df) for col in missing_columns}
print("Eksik veri oranları:")
print(missing_ratio_per_column, end="\n\n")

Eksik veri oranları:
{'Age': np.float64(0.20574162679425836), 'Fare': np.float64(0.0023923444976076554), 'Cabin': np.float64(0.7822966507177034)}

In [19]:
impute_age_value = df['Age'].mean().round()
impute_age_value

np.float64(30.0)

In [21]:
df['Age'] = df['Age'].fillna(impute_age_value)
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  34.5      0      0    7.8292   NaN        Q
1           1       3  female  47.0      1      0    7.0000   NaN        S
2           0       2    male  62.0      0      0    9.6875   NaN        Q
3           0       3    male  27.0      0      0    8.6625   NaN        S
4           1       3  female  22.0      1      1   12.2875   NaN        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
413         0       3    male  30.0      0      0    8.0500   NaN        S
414         1       1  female  39.0      0      0  108.9000  C105        C
415         0       3    male  38.5      0      0    7.2500   NaN        S
416         0       3    male  30.0      0      0    8.0500   NaN        S
417         0       3    male  30.0      1      1   22.3583   NaN        C

[418 rows x 9 columns]

In [22]:
impute_fare_value = df['Fare'].mean().round()
impute_fare_value

np.float64(36.0)

In [23]:
df['Fare'] = df['Fare'].fillna(impute_fare_value)
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked
0           0       3    male  34.5      0      0    7.8292   NaN        Q
1           1       3  female  47.0      1      0    7.0000   NaN        S
2           0       2    male  62.0      0      0    9.6875   NaN        Q
3           0       3    male  27.0      0      0    8.6625   NaN        S
4           1       3  female  22.0      1      1   12.2875   NaN        S
..        ...     ...     ...   ...    ...    ...       ...   ...      ...
413         0       3    male  30.0      0      0    8.0500   NaN        S
414         1       1  female  39.0      0      0  108.9000  C105        C
415         0       3    male  38.5      0      0    7.2500   NaN        S
416         0       3    male  30.0      0      0    8.0500   NaN        S
417         0       3    male  30.0      1      1   22.3583   NaN        C

[418 rows x 9 columns]

In [24]:
impute_cabin_value = "unknown"
df['Cabin'] = df['Cabin'].fillna(impute_cabin_value)
df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare    Cabin Embarked
0           0       3    male  34.5      0      0    7.8292  unknown        Q
1           1       3  female  47.0      1      0    7.0000  unknown        S
2           0       2    male  62.0      0      0    9.6875  unknown        Q
3           0       3    male  27.0      0      0    8.6625  unknown        S
4           1       3  female  22.0      1      1   12.2875  unknown        S
..        ...     ...     ...   ...    ...    ...       ...      ...      ...
413         0       3    male  30.0      0      0    8.0500  unknown        S
414         1       1  female  39.0      0      0  108.9000     C105        C
415         0       3    male  38.5      0      0    7.2500  unknown        S
416         0       3    male  30.0      0      0    8.0500  unknown        S
417         0       3    male  30.0      1      1   22.3583  unknown        C

[418 rows x 9 columns]

In [25]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [27]:
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0         0       3    1  34.5      0      0   7.8292  unknown        Q
1         1       3    0  47.0      1      0   7.0000  unknown        S
2         0       2    1  62.0      0      0   9.6875  unknown        Q
3         0       3    1  27.0      0      0   8.6625  unknown        S
4         1       3    0  22.0      1      1  12.2875  unknown        S

In [28]:
label_encoder.inverse_transform(df['Sex'])

array(['male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'female', 'female', 'male',
       'male', 'female', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'male', 'male', 'male', 'male', 'female',
       'female', 'male', 'female', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'female', 'male', 'male', 'female', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'female', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'female', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'male', 'female', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'female', 'female', 'male', 'female',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'male', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'female', 'male', 'male', 'male'],
      dtype=object)

In [31]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)

In [32]:
ohe.fit(df[['Pclass']])

OneHotEncoder(sparse_output=False)

In [33]:
ohe_data = ohe.transform(df[['Pclass']])
ohe_data

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [34]:
df.drop('Pclass', axis=1, inplace=True)
df.head()

   Survived  Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0         0    1  34.5      0      0   7.8292  unknown        Q
1         1    0  47.0      1      0   7.0000  unknown        S
2         0    1  62.0      0      0   9.6875  unknown        Q
3         0    1  27.0      0      0   8.6625  unknown        S
4         1    0  22.0      1      1  12.2875  unknown        S

In [35]:
df[['Pclass1', 'Pclass2', 'Pclass3']] = ohe_data
df

,Survived,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Pclass1,Pclass2,Pclass3
0,0,1,34.5,0,0,7.8292,unknown,Q,0.0,0.0,1.0
1,1,0,47.0,1,0,7.0000,unknown,S,0.0,0.0,1.0
2,0,1,62.0,0,0,9.6875,unknown,Q,0.0,1.0,0.0
3,0,1,27.0,0,0,8.6625,unknown,S,0.0,0.0,1.0
4,1,0,22.0,1,1,12.2875,unknown,S,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
413,0,1,30.0,0,0,8.0500,unknown,S,0.0,0.0,1.0
414,1,0,39.0,0,0,108.9000,C105,C,1.0,0.0,0.0
415,0,1,38.5,0,0,7.2500,unknown,S,0.0,0.0,1.0
416,0,1,30.0,0,0,8.0500,unknown,S,0.0,0.0,1.0
417,0,1,30.0,1,1,22.3583,unknown,C,0.0,0.0,1.0